* {
  margin: 0;
  padding: 0;
  color: #999990;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 2em 5em;
  background-color: #fefdf5;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
}
/* NAVIGATION STYLES */
nav {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}

.nav_top {
  display: flex;
  justify-content: space-between;
}

.nav_top img {
  width: 2em;
  height: 2em;
}

.nav_right {
  display: flex;
  column-gap: 2em;
}

.nav_search_cont {
  display: flex;
  align-items: center;
}
.nav_logo_cont {
  display: flex;
  column-gap: 1em;
}

/* ERROR COMPONENT STYLE */
.error_cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* LOADING COMPONENT STYLE */
.loading_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}

.spinner {
  border: 10px solid #00000021;
  border-top: 10px solid #999990;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MAIN CONTENT */
.main_cont {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

.main_cont_bot {
  display: flex;
  justify-content: center;
}

/* SORT TOP COMPONENT */
.sort_cont_top {
  display: flex;
  column-gap: 3em;
}

.sort_cont_top_options {
  display: flex;
  column-gap: 1em;
}
.sort_cont_top_options p {
  font-weight: 600;
}

/* SORT ASIDE COMPONENT */
.sort_cont_aside {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 20%;
}

/* PRODUCTS LIST COMPONENT */
.products_list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3em;
  column-gap: 3em;
  row-gap: 5em;
}
/* PRODUCT CARD COMPONENT */
.product_card {
  width: 290px;
  /* height: 410px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
}
.product_image {
  height: 320px;
  width: 290px;
}
.product_info_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_top_icons {
  display: flex;
}
.product_top_icons img {
  width: 2em;
  height: 2em;
}

.product_info_bot {
  display: flex;
  justify-content: space-between;
}
.about_btn {
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #999990;
}

/* SIDEBAR COMPONENT */
.sidebar {
  position: absolute;
  top: 0;
  left: -350px;
  padding: 2em 5em;
  background-color: #fefdf5;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
.sidebar.open {
  position: fixed;
  left: 0px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

/* FAVORITE COMPONENT */
.favorite_component {
  margin-left: 4em;
  /* display: flex;
  flex-direction: column;
  row-gap: 3em; */
}
.favorite_list {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  width: 30%;
}
.favorite_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 210px;
}
.fav_img {
  width: 190px;
  height: 210px;
  border-radius: 50px;
}
.fav_card_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.fav_card_right h3 {
  font-size: 2em;
  font-weight: 200;
}
.fav_card_bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fav_bot_icons {
  display: flex;
  column-gap: 10px;
}
.fav_bot_icons img {
  width: 30px;
  height: 30px;
}

/* CART COMPONENT */
.cart_component {
  margin-left: 4em;
}
.cart_content {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.cart_info {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
.table_titles {
  display: flex;
}
/* TODO: optimize */
.title_by_name {
  margin-right: 300px;
}
.title_by_quantity {
  margin-right: 30px;
}
.title_by_price {
  margin-right: 50px;
}
.cart_product_list {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}
.cart_product_piece {
  display: flex;
  column-gap: 3em;
  align-items: center;
}
.cart_product_img {
  width: 120px;
  height: 120px;
}
.clear_icon {
  width: 30px;
  height: 30px;
}

.cart_info_bot {
  display: flex;
  justify-content: space-between;
}
.cart_info_bot button {
  padding: 1em 2em;
  background: transparent;
  border: 4px solid #999990;
}
.cart_priceInfo_bot {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.payment_cont {
  background-color: #999990;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* align-items: center; */
  justify-content: space-between;
  border-radius: 50px;
  padding: 2em 3em;
}
.payment_cont h2 {
  color: #fefdf5;
}
.payment_cont label {
  color: #fefdf5;
}
.payment_cont input {
  border: none;
  background: transparent;
  border-bottom: 2px solid #fefdf5;
  padding: 1em 1em;
  color: #fefdf5;
}
::placeholder {
  color: #fefdf5;
}
.card_info_bot {
  display: flex;
  column-gap: 10px;
}
.card_inspire_info {
  width: 50%;
}
.card_inspire_inputs {
  display: flex;
  column-gap: 10px;
}
.card_inspire_inputs input {
  width: 3em;
}
.card_cvv_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.card_cvv_info input {
  width: 3em;
}
.pay_btn {
  padding: 1em 2em;
  color: #999990;
  background: #fefdf5;
  border: none;
  border-radius: 10px;
}

/* ABOUT COMPONENT */
.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_component {
  position: relative;
  background-color: #fefdf5;
  border-radius: 80px;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  width: 40%;
  align-items: center;
  border: 1px solid #999990;
  height: 40%;
}
.about_component img {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.about_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_info img {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 35px;
  height: 35px;
}

.about_info_bot {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.about_info_bot h2 {
  font-size: 1em;
}
.about_info button {
  background: transparent;
  border: 1px solid #999990;
  padding: 5px 8px;
  border-radius: 10px;
}
